<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Hello World</title>
</head>
<body>
  <h1>Hello World</h1>
  <p>We have received your inquiry with the following content.</p>
  <ul>
    <li>
      <p>your name: <span th:text="${name}"></span></p>
    </li>
    <li>
      <p>your e-mail address: <span th:text="${mail}"></span></p>
    </li>
    <li>
      <p>message: <span th:text="${message}"></span></p>
    </li>
  </ul>
  <form th:action="@{/}" method="get">

    <button type="submit">back</button>
  </form>
  

</body>
</html>