<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <h1>Hello World!</h1>
    <form th:action="@{/confirm-message}" method="post">
        <ul>
            <li>
                <p>your name:</p>
                <input type="text" name="name">
            </li>
            <li>
                <p>your e-mail address:</p>
                <input type="text" name="mail">
            </li>
            <li>
                <p>message:</p>
                <input type="text" name="message">
            </li>
        </ul>
        <button type="submit">submit</button>
    </form>
</body>
</html>